@import 'variables';
@import 'mixin';

.NoticeSection {
  margin-top: 235px;
  .titleContainer {
    position: relative;
    padding: 213px 0 84px 0;
    .title {
      position: relative;
      left: 50%;
      margin-left: -357px;
      h2 {
        font-size: 80px;
        font-family: $gilroy-font;
        font-weight: 900;
      }
      h4 {
        font-size: 24px;
        line-height: 32px;
        margin-top: 16px;
      }
    }
    .circle, .dashedCircle {
      position: absolute;
      border-radius: 50%;
      background-color: rgba(220, 220, 220, .85);
      z-index: -1;
      transform-origin: 300% 300%;
    }
    .circle {
      top: 0;
      right: 50%;
      margin-right: 175px;
      width: 425px;
      height: 425px;
    }
    .dashedCircle {
      top: -35px;
      right: 50%;
      margin-right: 98px;
      width: 188px;
      height: 188px;
      border: 2px dashed #979797;
      background-color: transparent;
    }
  }
  .socialPlatformContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    .platform {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 245px;
      padding: 24px;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.07);
      &:not(:last-child) {
        margin-right: 20px;
      }
      .icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: white;
      }
      h3 {
        margin-top: 16px;
        font-size: 24px;
        font-weight: bold;
      }
      .mobileTitleWrap {
        display: none;
      }
      p {
        margin-top: 8px;
        font-size: 14px;
        line-height: 22px;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        width: 44px;
        height: 44px;
        transform: rotate(270deg);
      }
    }
  }
  @include mobile {
    margin-top: 137px;
    padding: 0 20px;
    .titleContainer {
      padding: 130px 0 84px 0;
      .title {
        position: relative;
        left: 0;
        margin-left: 0;
        h2 {
          font-size: 36px;
        }
        h4 {
          font-size: 20px;
          line-height: 24px;
          margin-top: 8px;
        }
      }
      .circle {
        left: -91px;
        width: 260px;
        height: 260px;
      }
      .dashedCircle {
        top: -33px;
        margin-right: -48px;
        width: 120px;
        height: 120px;
        border: dashed 2px rgba(255, 255, 255, .3);
      }
    }
    .socialPlatformContainer {
      flex-direction: column;
      margin-top: 22px;
      .platform {
        flex-direction: column;
        width: 100%;
        height: auto;
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 22px;
        }
        .icon {
          display: none;
        }
        h3 {
          display: none;
        }
        .mobileTitleWrap {
          display: flex;
          align-items: center;
          .icon {
            display: block;
          }
          h3 {
            display: block;
            margin: 0 0 0 12px;
          }
        }
        p {
          margin-top: 12px;
          padding-right: 42px;
        }
        a {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 12px;
          margin: auto 0;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
