@import 'variables';
@import 'mixin';

.CoCModal {
  .title {
    font-size: 48px;
    font-family: $gilroy-font;
    font-weight: 900;
    text-align: center;
  }
  .subTitle {
    font-size: 24px;
    font-family: $appleSD-font;
    font-weight: normal;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 62px;
  }
  .content {
    .block {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
      h3 {
        font-size: 20px;
        line-height: 24px;
      }
      p {
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  @include mobile {
    .title {
      font-size: 36px;
    }
    .subTitle {
      font-size: 16px;
      font-weight: normal;
      line-height: 22px;
      margin-bottom: 32px;
    }
    .content {
      .block {
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        h3 {
          font-size: 20px;
          line-height: 24px;
        }
        p {
          margin-top: 8px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
