@import 'variables';
@import 'mixin';

.CoCModal {
  position: relative;
  max-width: 880px;
  margin: 96px auto;
  padding: 64px 140px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #232323;
  .title {
    font-size: 48px;
    font-family: $gilroy-font;
    font-weight: 900;
    text-align: center;
  }
  .subTitle {
    font-size: 24px;
    font-weight: 600;
    font-family: $appleSD-font;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 62px;
  }
  .content {
    .block {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
      h3 {
        font-size: 20px;
        line-height: 24px;
      }
      p {
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  @include mobile {
    width: 100%;
    margin: 0;
    padding: 70px 20px 32px 20px;
    border-radius: 0;
    .title {
      font-size: 36px;
    }
    .subTitle {
      font-size: 16px;
      font-weight: normal;
      line-height: 22px;
      margin-bottom: 32px;
    }
    .content {
      max-height: calc(100vh - 202px);
      overflow-y: auto;
      margin: 0 -20px;
      padding: 0 20px 120px 20px;
      box-sizing: border-box;
      -webkit-overflow-scrolling: touch;
      .block {
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        h3 {
          font-size: 20px;
          line-height: 24px;
        }
        p {
          margin-top: 8px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

.container {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s .4s ease-out;
  overflow: scroll;
  z-index: 2201;
  touch-action: none;
  &.active {
    opacity: 1;
    pointer-events: all;
    transition: opacity .6s ease-out;
  }
  @include mobile {
    overflow: hidden;
  }
}
