@import "variables";
@import "mixin";

.SponsorList {
  position: relative;
  width: 240px;
  margin-right: 65px;
  h4 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
  }
  .overflowWrap {
    position: relative;
    height: 340px;
    overflow: hidden;
    transform: translateZ(0);
    font-size: 0;
  }
  .sponsorList {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sponsorWrap {
      opacity: 0.7;
      transform: scale(0.8);
      transition: opacity 0.5s $easeOutCirc, transform 0.5s $easeOutCirc;
      &:not(:last-child) {
        margin-bottom: 32px;
      }
      &.active {
        opacity: 1;
        transform: scale(1.05);
      }
      .sponsor {
        display: block;
        img {
          width: 220px;
          height: 60px;
        }
      }
    }
  }
  .dimmed {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 66px;
    z-index: 1;
    background: linear-gradient(rgba(18, 18, 18, 0), #121212);
  }
  @include mobile {
    position: relative;
    width: 240px;
    margin: 64px auto 0 auto;
    h4 {
      font-size: 16px;
      margin-bottom: 24px;
    }
    .sponsorList {
      overflow: hidden;
      .sponsor {
        &:not(:last-child) {
          margin-bottom: 32px;
        }
      }
    }
  }
}
