@import 'variables';
@import 'mixin';

.CallForSpeakerSection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: $page-content-width;
  // LineBackground 컴포넌트 위치를 맞추기 위해서 마진값 수정함.
  padding-top: 251px;
  margin: 200px auto 0 auto;
  height: 440px;
  .titleContainer {
    position: relative;
    margin-right: 107px;
    .mask {
      height: 82px;
      overflow: hidden;
      h2 {
        width: 450px;
        font-size: 80px;
        font-family: $gilroy-font;
        font-weight: 900;
        line-height: 82px;
      }
    }
    .circle, .dashedCircle {
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      transform-origin: 120% 120%;
    }
    .circle {
      top: -219px;
      left: 113px;
      width: 430px;
      height: 430px;
      background-color: rgba(220, 220, 220, .85);
    }
    .dashedCircle {
      top: -247px;
      left: 19px;
      width: 188px;
      height: 188px;
    }
  }
  .descriptionContainer {
    max-width: 430px;
    padding-top: 191px;
    h4 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }
  @include mobile {
    flex-direction: column;
    margin-top: 100px;
    padding: 160px 20px 0 20px;
    height: 346px;
    .titleContainer {
      margin-right: 0;
      .mask {
        height: 40px;
        h2 {
          width: auto;
          font-size: 36px;
          line-height: 40px;
          letter-spacing: -.2px;
        }
      }
      .circle {
        top: -140px;
        left: 35px;
        width: 240px;
        height: 240px;
      }
      .dashedCircle {
        top: -164px;
        left: 12px;
        width: 100px;
        height: 100px;
        border: dashed 2px rgba(255, 255, 255, .3);
      }
    }
    .descriptionContainer {
      max-width: none;
      padding-top: 48px;
      h4 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 16px;
      }
    }
  }
}
