@import 'mixin';

.CallForSpeakerSection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 447px;
  .titleContainer {
    position: relative;
    margin-right: 107px;
    h2 {
      width: 450px;
      font-size: 80px;
      font-weight: 900;
      line-height: 80px;
    }
    .circle {
      position: absolute;
      top: -219px;
      left: 113px;
      width: 430px;
      height: 430px;
      border-radius: 50%;
      background-color: rgba(220, 220, 220, .85);
      z-index: -1;
    }
  }
  .descriptionContainer {
    max-width: 430px;
    padding-top: 191px;
    h4 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }
  @include mobile {
    flex-direction: column;
    margin-top: 260px;
    padding: 0 20px;
    .titleContainer {
      margin-right: 0;
      h2 {
        width: auto;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -.2px;
      }
      .circle {
        position: absolute;
        top: -140px;
        left: 55px;
        width: 240px;
        height: 240px;
      }
    }
    .descriptionContainer {
      max-width: none;
      padding-top: 48px;
      h4 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 16px;
      }
    }
  }
}
