.HeroSection {
  position: relative;
  padding: 98px 0 0;
  .mainLogoWrap {
    position: relative;
    display: inline-block;
    margin: 140px 0 0 -16px;
    transform: translateX(-100%);
    left: 50%;
    p {
      display: flex;
      align-items: center;
      color: white;
      font-size: 24px;
      font-weight: bold;
      margin: 45px 0 0;
    }
  }
  .circle {
    position: absolute;
    margin-left: -130px;
    margin-bottom: 223px;
    top: 98px;
    left: 50%;
    width: 572px;
    height: 572px;
    background-color: #ddd;
    border-radius: 50%;
    z-index: -1;
  }
  .arrowDown {
    display: block;
    width: 32px;
    height: 32px;
    margin: 223px auto 0 auto;
    background-color: #ddd;
  }
}
