@import 'keyframes';
@import 'mixin';

.HeroSection {
  position: relative;
  .mainLogoWrap {
    position: relative;
    left: 50%;
    display: inline-block;
    margin: 238px 0 0 -16px;
    width: 340px;
    transform: translateX(-100%);
    p {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      margin: 45px 0 0;
      img {
        width: 43px;
        margin-right: 16px;
      }
    }
  }
  .circle, .smallCircle, .dashedCircle, .dashedSmallCircle {
    position: absolute;
    background-color: rgba(220, 220, 220, .85);
    border-radius: 50%;
    z-index: -1;
  }
  .dashedCircle, .dashedSmallCircle {
    border: 2px dashed #979797;
    background-color: transparent;
  }
  .circle {
    margin-left: -130px;
    top: 98px;
    left: 50%;
    width: 572px;
    height: 572px;
  }
  .smallCircle {
    margin-right: 429px;
    top: 177px;
    right: 50%;
    width: 122px;
    height: 122px;
  }
  .dashedCircle {
    top: 205px;
    margin-left: 369px;
    left: 50%;
    width: 188px;
    height: 188px;
  }
  .dashedSmallCircle {
    top: 142px;
    right: 50%;
    margin-right: 409px;
    width: 72px;
    height: 72px;
  }
  .arrowDownWrap {
    display: block;
    width: 32px;
    height: 32px;
    margin: 223px auto 0 auto;
    svg {
      animation: breatheDown 3.2s infinite;
    }
  }
  @include mobile {
    padding: 0 40px;
    .mainLogoWrap {
      margin: 140px 0 0 0;
      width: 53.3333vw;
      transform: none;
      left: 0;
      p {
        font-size: 16px;
        margin: 25px 0 0;
        img {
          width: 27px;
          margin-right: 8px;
        }
      }
    }
    .circle {
      margin-left: -12px;
      top: 124px;
      width: 343px;
      height: 343px;
    }
    .smallCircle {
      margin-right: 119px;
      top: 81px;
      width: 85px;
      height: 85px;
    }
    .dashedCircle {
      display: none;
    }
    .dashedSmallCircle {
      top: 56px;
      margin-right: 105px;
      width: 50px;
      height: 50px;
      border: dashed 2px rgba(255, 255, 255, .3);
    }
    .arrowDownWrap {
      margin: 162px auto 0 auto;
      svg {
        animation: breatheDown 3.2s infinite;
      }
    }
  }
}
