@import 'variables';

.RegisterButton {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 32px;
  border-radius: 24px;
  color: $page-bg-color;
  background-color: white;
}
