@import 'variables';
@import 'mixin';

.PrivateInfoConfirmation {
  .infoConfirm {
    padding: 32px;
    margin-top: 80px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
    font-family: $appleSD-font;
    line-height: 26px;
    .confirmTitle {
      font-weight: 700;
      margin-bottom: 8px;
    }
    .confirmContent {
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
    }
    .checkWrap {
      margin-top: 18px;
      display: flex;
      align-items: center;
      font-size: 0;
      input {
        display: none;
        background-color: transparent;
        border: none;
        & + label {
          display: inline-block;
          width: 18px;
          height: 18px;
          border: 1px solid white;
          border-radius: 4px;
          cursor: pointer;
        }
        &:checked + label {
          border: 1px solid #999;
          background-color: #282828;
          &:after {
            width: 18px;
            height: 15px;
            content: "✓";
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      span {
        font-size: 16px;
        font-weight: normal;
        margin-left: 8px;
      }
    }
  }
  .signInBtn {
    display: block;
    margin: 80px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.07);
    color: #121212;
    &.checked {
      color: black;
      background-color: #ffffff;
    }
  }
  @include mobile {
    .infoConfirm {
      padding: 24px;
      margin-top: 32px;
      .confirmTitle {
        font-size: 16px;
        line-height: 26px;
      }
      .confirmContent {
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
      }
      .checkWrap {
        span {
          font-size: 14px;
        }
      }
    }
    .signInBtn {
      margin: 62px auto 0 auto;
      width: 100%;
      &.checked {
        color: black;
        background-color: #ffffff;
      }
    }
  }
}
