@import "variables";
@import "mixin";

.RegisterSection {
  height: 486px;
  margin-top: 180px;
  padding-bottom: 200px;
  .container {
    position: relative;
    padding: 194px 0 78px 0;
    h2 {
      position: relative;
      right: 50%;
      margin-right: -70px;
      font-size: 80px;
      font-family: $gilroy-font;
      font-weight: 900;
      text-align: right;
    }
    h4 {
      margin-top: 4px;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
    }
    .buttonWrap {
      margin-top: 40px;
      text-align: center;
    }
    .circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 486px;
      height: 486px;
      border-radius: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
  @include mobile {
    margin-top: 100px;
    padding-bottom: 0;
    height: 432px;
    .container {
      position: relative;
      padding: 148px 55px 80px 55px;
      h2 {
        right: 10px;
        font-size: 36px;
        text-align: left;
      }
      h4 {
        margin-top: 8px;
        font-size: 20px;
        line-height: 22px;
      }
      .buttonWrap {
        margin-top: 100px;
      }
      .circle {
        top: 20px;
        width: 280px;
        height: 280px;
      }
    }
  }
}
