@import '_variables.scss';

body {
  color: $page-text-color;
  background-color: $page-bg-color;
  overflow-x: hidden;
  &.fixed {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  word-break: break-all;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
