@import '_variables.scss';

body {
  background-color: $page-bg-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
