@import '_variables.scss';

.container {
  overflow: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1100;
  background-color: $page-bg-color;
}

body {
  color: $page-text-color;
  background-color: $page-bg-color;
  &.fixed {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  word-break: break-all;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
