$page-bg-color: #121212;
$page-text-color: white;
$page-max-width: 1440px;
$page-content-width: 940px;
$pc-header-height: 104px;
$mobile-header-height: 72px;

$mobile: 768px;
$iphone: 375px;

$default-font: -apple-system, BlinkMacSystemFont, sans-serif;
$gilroy-font: Gilroy, -apple-system, BlinkMacSystemFont, sans-serif;
$appleSD-font: AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, sans-serif;

$easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
