$page-bg-color: #121212;
$page-text-color: white;
$page-max-width: 1440px;
$page-content-width: 940px;
$pc-header-height: 104px;
$mobile-header-height: 72px;

$mobile: 768px;

$default-font: -apple-system, BlinkMacSystemFont, sans-serif;
$gilroy-font: Gilroy, -apple-system, BlinkMacSystemFont, sans-serif;
