@import "variables";
@import "mixin";

.Portal {
  background: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  touch-action: none;
  z-index: 1100;
  @include mobile {

  }
}
