@import 'variables';
@import 'mixin';

.PreRegistrationSection {
  max-width: $page-content-width;
  margin: 200px auto 0 auto;
  height: 922px;
  .titleContainer {
    position: relative;
    z-index: -1;
    .textContainer {
      position: absolute;
      top: 248px;
      left: 0;
      right: 0;
      text-align: center;
      h2 {
        font-size: 80px;
        font-family: $gilroy-font;
      }
      h4 {
        font-size: 24px;
        margin-top: 4px;
      }
    }
    .circle {
      width: 486px;
      height: 486px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: rgba(220, 220, 220, .85);
      transform: translateZ(0);
    }
  }
  .contentContainer {
    position: relative;
    margin-top: 110px;
  }
  @include mobile {
    margin-top: 102px;
    height: 936px;
    .titleContainer {
      .textContainer {
        top: 158px;
        h2 {
          font-size: 36px;
        }
        h4 {
          font-size: 20px;
          margin-top: 8px;
        }
      }
      .circle {
        width: 280px;
        height: 280px;
      }
    }
    .contentContainer {
      margin-top: 64px;
    }
  }
}
