@import "variables";
@import "mixin";

.CallForSponsorSection {
  margin-top: 200px;
  .titleContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 480px;
    text-align: center;
    h2 {
      position: relative;
      font-size: 80px;
      font-family: $gilroy-font;
      font-weight: 900;
      br {
        display: none;
      }
      p {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 16px;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
      }
    }
    .circle {
      position: absolute;
      border-radius: 50%;
      background-color: rgba(220, 220, 220, .85);
      z-index: -1;
    }
    .circle1 {
      top: 79px;
      right: 50%;
      width: 225px;
      height: 225px;
      margin-right: 326px;
      transform-origin: 300% 300%;
    }
    .circle2 {
      top: 0;
      width: 479px;
      height: 479px;
      left: 50%;
      margin-left: 74px;
      transform-origin: -300% 300%;
    }
    .dashedCircle {
      top: 20px;
      right: 50%;
      margin-right: 265px;
      width: 136px;
      height: 136px;
      transform-origin: 300% 300%;
      border: 2px dashed #979797;
      background-color: transparent;
    }
  }
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 59px;
    .registerContainer {
      margin-right: 200px;
      h4 {
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        margin-bottom: 16px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        max-width: 440px;
        margin-bottom: 22px;
      }
    }
    .sponsorContainer {
      position: relative;
      width: 240px;
      h4 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 40px;
      }
      .sponsorList {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 206px;
        overflow: hidden;
        .sponsor {
          font-size: 30px;
          font-weight: 900;
          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }
      }
      .dimmed {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 66px;
        z-index: 1;
        background: linear-gradient(rgba(18, 18, 18, 0), #121212);
      }
    }
  }
  @include mobile {
    margin-top: 260px;
    padding: 0 20px;
    .titleContainer {
      height: auto;
      text-align: start;
      h2 {
        position: relative;
        font-size: 36px;
        line-height: 40px;
        br {
          display: inline-block;
        }
        p {
          display: none;
        }
      }
      .circle1 {
        top: -96px;
        left: -70px;
        right: auto;
        width: 140px;
        height: 140px;
        margin-right: 0;
      }
      .circle2 {
        top: -58px;
        width: 260px;
        height: 260px;
        right: -93px;
        margin-left: 0;
      }
      .dashedCircle {
        top: -144px;
        right: 50%;
        margin-right: 48px;
        width: 100px;
        height: 100px;
        border: dashed 2px rgba(255, 255, 255, .3);
      }
    }
    .contentContainer {
      flex-direction: column;
      margin-top: 48px;
      .registerContainer {
        margin-right: 0;
        h4 {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 8px;
        }
        p {
          font-size: 14px;
          line-height: 22px;
          max-width: none;
          margin-bottom: 16px;
        }
      }
      .sponsorContainer {
        position: relative;
        width: 240px;
        margin: 64px auto 0 auto;
        h4 {
          font-size: 16px;
          margin-bottom: 32px;
        }
        .sponsorList {
          height: 234px;
          overflow: hidden;
          .sponsor {
            font-size: 30px;
            font-weight: 900;
            &:not(:last-child) {
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }
}
