@import "variables.scss";
@import "mixin.scss";

.MenuModal {
  position: fixed;
  top: $mobile-header-height - 50px;
  left: 0;
  right: 0;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  background-color: $page-bg-color;
  display: none;
  .item {
    padding: 24px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: white;
  }
  .btnWrap {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  @include mobile {
    display: flex;
  }
}

.container {
  pointer-events: none;
  &.active {
    pointer-events: all;
    transition: opacity .1s ease-out;
    .dimmed {
      opacity: 1;
    }
  }
  .dimmed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-out;
  }
  @include mobile {
    display: block;
  }
}
