.AwesomeCircle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);

  .circleBackground {
    position: absolute;
    opacity: 0.4;
    will-change: transform;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
  }
}
