.AwesomeCircle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: #121212;
  transform: translateZ(0);

  .circleBackground {
    position: absolute;
    opacity: 0.4;
    will-change: transform;
    width: 120%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
  }
}
