@import 'variables';
@import 'mixin';

.SpeakerCardView {
  position: relative;
  pointer-events: all;
  .imageWrap {
    position: relative;
    width: 230px;
    height: 400px;
    border-radius: 16px;
    opacity: 0;
    background-position: center;
    background-size: contain;
    background-blend-mode: overlay, normal;
    transform: translate3d(150px, 0, 0) scale(.9);
    transition: opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1), transform .8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .info {
    position: absolute;
    top: 110px;
    left: -78px;
    .name {
      font-size: 48px;
      font-weight: 900;
    }
    .role {
      font-size: 32px;
      font-family: $gilroy-font;
      font-weight: 900;
      line-height: 38px;
      margin-top: 10px;
    }
    .name, .role {
      opacity: 0;
      transform: translate3d(0, 12px, 0);
      transition: opacity .6s cubic-bezier(0.165, 0.84, 0.44, 1), transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  &.active {
    .info {
      .name, .role {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .role {
        transition-delay: 80ms;
      }
    }
  }
  @include mobile {
    .imageWrap {
      width: 160px;
      height: 278px;
      transform: translate3d(0, 0, 0) scale(1) !important;
    }
    .info {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      opacity: 1;
      height: 149px;
      padding-top: 12px;
      box-sizing: border-box;
      font-family: $gilroy-font;
      .name, .role {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: none !important;
      }
      .name {
        font-size: 24px;
      }
      .role {
        font-size: 16px;
        line-height: 22px;
        margin-top: 4px;
        p {
          word-break: keep-all;
        }
      }
    }
  }
}
