@import "variables.scss";
@import "mixin.scss";

$offset-y: 50px;

.Header {
  position: fixed;
  top: -$offset-y;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $page-max-width;
  height: $pc-header-height;
  margin: 0 auto;
  padding: $offset-y 48px 0 48px;
  background-color: $page-bg-color;
  z-index: 1101;
  .logo {
    width: 69px;
    font-size: 0;
  }
  a {
    font-size: 16px;
    font-weight: bold;
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  .menu {
    display: block;
  }
  .menuBtn {
    display: none;
  }
  @include mobile {
    top: -$offset-y;
    height: $mobile-header-height;
    padding: $offset-y 20px 0 20px;
    .logo {
      width: 55px;
    }
    .menu {
      display: none;
    }
    .menuBtn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      .bar {
        width: 21px;
        height: 2px;
        border-radius: 1px;
        background-color: white;
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
