@import "variables.scss";
@import "mixin.scss";

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  padding: 0 48px;
  .logo {
    width: 69px;
    font-size: 0;
  }
  a {
    font-size: 16px;
    font-weight: bold;
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  .menu {
    display: block;
  }
  .menuBtn {
    display: none;
  }
  @include mobile {
    height: 72px;
    padding: 0 20px;
    .logo {
      width: 55px;
    }
    .menu {
      display: none;
    }
    .menuBtn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      .bar {
        width: 21px;
        height: 2px;
        border-radius: 1px;
        background-color: white;
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
