@import 'variables';
@import 'mixin';

.YoutubeButton {
  display: flex;
  align-items: center;
  padding: 14px 32px;
  border: 1px solid white;
  border-radius: 24px;
  font-size: 0;
  cursor: pointer;
  color: black !important;;
  outline: none;
  background-color: white !important;
  img {
    width: 28px;
    height: 20px;
  }
  span {
    display: inline-block;
    font-size: 16px;
    margin-left: 9px;
  }
  @include mobile {
    img {
      width: 21px;
      height: 15px;
    }
    span {
      margin-left: 4px;
      font-size: 15px;
    }
  }
}
