@import "variables";
@import "mixin";

.Support {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .registerContainer {
    max-width: 430px;
    margin-right: 180px;
    font-size: 16px;
    .messageNumberWrap {
      display: flex;
      align-items: flex-end;
      padding: 12px 0 16px 1px;
      h2 {
        font-size: 80px;
        line-height: 80px;
        font-family: $gilroy-font;
        font-weight: 900;
      }
      span {
        display: inline-block;
        margin-bottom: 14px;
        margin-left: 16px;
        font-size: 24px;
        font-weight: 600;
      }
    }
    p:nth-child(3) {
      margin-bottom: 40px;
      line-height: 24px;
    }
  }
  .messageContainer {
    position: relative;
    z-index: 1000;
    width: 400px;
    height: 302px;
    margin-top: 0;
    overflow: hidden;
    .overflowWrap {
      position: relative;
      height: 100%;
      overflow: hidden;
      transform: translateZ(0);
      font-size: 0;
      .messageItem {
        opacity: .6;
        transition: opacity .15s $easeOutCirc, transform .5s $easeOutCirc;
        &.active {
          opacity: 1;
          transform: scale(1);
        }
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
    .dimmed {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 66px;
      z-index: 1;
      background: linear-gradient(rgba(18, 18, 18, 0), #121212);
    }
  }
  @include mobile {
    flex-direction: column;
    padding: 0 20px;
    .registerContainer {
      max-width: none;
      margin-right: 0;
      font-size: 14px;
      .messageNumberWrap {
        padding: 8px 0 16px 0;
        h2 {
          font-size: 64px;
          line-height: 64px;
        }
      }
      p:nth-child(3) {
        margin-bottom: 16px;
        line-height: 22px;
      }
    }
    .messageContainer {
      width: 100%;
      height: 312px;
      margin-top: 40px;
    }
  }
}
