@import 'variables';
@import 'mixin';

.SupportFormModal {
  .title {
    font-size: 48px;
    font-family: $gilroy-font;
    font-weight: 900;
    text-align: center;
  }
  .subTitle {
    font-size: 24px;
    font-weight: 600;
    font-family: $appleSD-font;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .desc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  button {
    padding: 13px 38px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: black;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  @include mobile {
    .title {
      font-size: 36px;
    }
    .subTitle {
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 32px;
    }
    .desc {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
