@import 'variables';
@import 'mixin';

.SupportFormModal {
  .title {
    font-size: 48px;
    font-family: $gilroy-font;
    font-weight: 900;
    text-align: center;
  }
  .subTitle {
    font-size: 24px;
    font-weight: 600;
    font-family: $appleSD-font;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .desc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  button {
    padding: 13px 38px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: black;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .infoConfirm {
    padding: 32px;
    margin-top: 80px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
    font-family: $appleSD-font;
    line-height: 26px;
    .confirmTitle {
      font-weight: 700;
      margin-bottom: 8px;
    }
    .confirmContent {
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
    }
    .checkWrap {
      margin-top: 18px;
      display: flex;
      align-items: center;
      font-size: 0;
      input {
        display: none;
        background-color: transparent;
        border: none;
        & + label {
          display: inline-block;
          width: 18px;
          height: 18px;
          border: 1px solid white;
          border-radius: 4px;
          cursor: pointer;
        }
        &:checked + label {
          border: 1px solid #999;
          background-color: #282828;
          &:after {
            width: 18px;
            height: 15px;
            content: "✓";
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      span {
        font-size: 16px;
        font-weight: normal;
        margin-left: 8px;
      }
    }
  }
  .signInBtn {
    display: block;
    margin: 80px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.07);
    color: #121212;
    &.checked {
      color: black;
      background-color: #ffffff;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    .userInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      .profileImage {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        overflow: hidden;
      }
      .displayName {
        margin-top: 8px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
      }
      .username {
        margin-top: 4px;
        font-size: 16px;
        line-height: 16px;
      }
      .email {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        font-size: 0;
        img {
          display: inline-block;
          width: 16px;
          margin-right: 8px;
        }
        span {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    .loading {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 156px;
    }
    .textInput {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      text-align: left;
      h4 {
        font-size: 13px;
        font-weight: normal;
      }
      textarea {
        margin-top: 8px;
        padding: 16px;
        border: 1px solid white;
        border-radius: 4px;
        font-size: 14px;
        width: 340px;
        height: 80px;
        color: white;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
        outline: none;
      }
    }
    .buttonWrap {
      display: flex;
      justify-content: center;
      margin-top: 48px;
      width: 340px;
      height: 46px;
      button {
        &.register {
          background-color: #fff;
        }
        &.reregister {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  @include mobile {
    .title {
      font-size: 36px;
    }
    .subTitle {
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 32px;
    }
    .desc {
      font-size: 16px;
      line-height: 24px;
    }
    .infoConfirm {
      padding: 24px;
      margin-top: 32px;
      .confirmTitle {
        font-size: 16px;
        line-height: 26px;
      }
      .confirmContent {
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
      }
      .checkWrap {
        span {
          font-size: 14px;
        }
      }
    }
    .signInBtn {
      margin: 62px auto 0 auto;
      width: 100%;
      &.checked {
        color: black;
        background-color: #ffffff;
      }
    }
    .form {
      margin-top: 32px;
      .textInput {
        margin-top: 34px;
      }
      .buttonWrap {
        justify-content: space-evenly;
        margin-top: 16px;
        width: 100%;
        button {
          width: 100%;
          border-radius: 4px;
          &.register {
            background-color: #fff;
          }
          &.reregister {
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
