@import 'variables';
@import 'mixin';

.SupportFormModal {
  position: relative;
  max-width: 880px;
  margin: 96px auto;
  padding: 64px 140px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #232323;
  .title {
    font-size: 48px;
    font-family: $gilroy-font;
    font-weight: 900;
    text-align: center;
  }
  .subTitle {
    font-size: 24px;
    font-weight: 600;
    font-family: $appleSD-font;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .desc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    .profileImage {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      overflow: hidden;
    }
    .displayName {
      margin-top: 8px;
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
    }
    .username {
      margin-top: 4px;
      font-size: 16px;
      line-height: 16px;
    }
    .email {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 16px;
      font-size: 0;
      img {
        display: inline-block;
        width: 16px;
        margin-right: 8px;
      }
      span {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .textInput {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      text-align: left;
      h4 {
        font-size: 13px;
        font-weight: normal;
      }
      textarea {
        margin-top: 8px;
        padding: 16px;
        border: 1px solid white;
        border-radius: 4px;
        font-size: 14px;
        width: 340px;
        height: 80px;
        color: white;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
        outline: none;
      }
    }
    .buttonWrap {
      display: flex;
      justify-content: flex-end;
      margin-top: 48px;
      width: 340px;
      button {
        padding: 13px 38px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: black;
        border-radius: 24px;
        border: none;
        cursor: pointer;
        outline: none;
        &.register {
          background-color: #fff;
        }
        &.reregister {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  @include mobile {
    width: 100%;
    margin: 0;
    padding: 70px 20px 32px 20px;
    border-radius: 0;
    touch-action: none;
    .title {
      font-size: 36px;
    }
    .subTitle {
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 32px;
    }
    .desc {
      font-size: 16px;
      line-height: 24px;
    }
    .form {
      margin-top: 32px;
      .textInput {
        margin-top: 34px;
      }
      .buttonWrap {
        justify-content: space-evenly;
        margin-top: 16px;
        width: 100%;
        button {
          width: 100%;
          border-radius: 4px;
          &.register {
            background-color: #fff;
          }
          &.reregister {
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

.container {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s .4s ease-out;
  overflow: scroll;
  z-index: 2201;
  touch-action: none;
  &.active {
    opacity: 1;
    pointer-events: all;
    transition: opacity .6s ease-out;
  }
}
