.Footer {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-top: 1px solid rgba(255, 255, 255, .5);
  span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, .5);
  }
}
