@import 'mixin';

.AboutSection {
  max-width: $page-content-width;
  margin: 212px auto 0 auto;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .titleContainer {
      position: relative;
      h3 {
        position: absolute;
        font-size: 24px;
        font-weight: bold;
        transform: translateY(-100%);
        margin-top: -17px;
        background: linear-gradient(to right, #4c9ae4, #fc638c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .mask {
        height: 66px;
        overflow: hidden;
        h2 {
          line-height: 66px;
          font-size: 60px;
        }
      }
    }
    .aboutContainer {
      font-size: 16px;
      line-height: 24px;
      max-width: 470px;
      margin-top: 0;
      h4 {
        font-weight: bold;
      }
      a {
        color: #ffaba3;
        text-decoration: underline;
      }
    }
  }
  @include mobile {
    margin-top: 90px;
    padding: 0 20px;
    .container {
      flex-direction: column;
      .titleContainer {
        position: relative;
        margin-right: 0;
        h3 {
          font-size: 20px;
          margin-top: -14px;
        }
        .mask {
          height: 44px;
          h2 {
            line-height: 44px;
            font-size: 40px;
          }
        }
      }
      .aboutContainer {
        font-size: 14px;
        line-height: 22px;
        margin-top: 32px;
      }
    }
  }
}
