@import "mixin";

.LineBackground {
  position: absolute;
  width: 1448px;
  left: 50%;
  transform: translate(-50%);
  top: 300px;
  pointer-events: none;
  z-index: 1;
  svg {
    position: relative;
    left: 81px;
    width: 100%;
    height: auto;
  }
  @include mobile {
    top: 220px;
    width: 736px;

    svg {
      left: 50px;
    }
    svg path {
      stroke-width: 2.5px;
    }
  }
}
