@import "mixin";

.LineBackground {
  position: absolute;
  width: 100%;
  top: 450px;
  pointer-events: none;
  overflow: hidden;
  svg {
    position: relative;
    left: 50%;
    transform: translate(-600px);
    width: 1300px;
    height: auto;
  }
  @include mobile {
    top: calc(212px + 20vw);

    svg {
      left: -5%;
      transform: none;
      width: 140%;

      path {
        stroke-width: 3.5px;
      }
    }
  }
}
